/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
config/database.php
.gitignore
codecept.phar
tests/_data/
tests/_output/
tests/_support/
tests/functional*
tests/unit*

