
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";
@import '~jquery-ui/themes/base/all.css';

:root {
  --font-family-sans-serif: Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin-left: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.navbar-brand {
  font-size: 14px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mysounds-table {
  width: 90%;
  margin-left: 15px;
}

.mysound-submit-form-div {
	background-color: black;
	color: white;
	padding: 20px;
  margin-right: 15px;
  border-radius: 25px;
}

.mysound-information-div {
  background-color: #add8e6;
  color: white;
  padding: 20px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 25px;
}

.mysound-information-div ol li {
  list-style-type: none;
}

.form-control {
  font-size: 12px;
}

.mysounds-tr {
  font-size: 12px;
}

.btn-mysounds {
  font-size: 12px;
  padding: 0px;
  line-height: inherit;
}

.mysounds-home-page {
  background-image: url( '/img/nightswimming.jpg' );
  background-size: cover;
  border: 10px solid white;
  border-radius: 25px;
}

.mysounds-home-page a {
  font-size: 16px;
}

.mysounds-home-page-div {
  padding:30%;
}